@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-size: 11px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}

.site {
  max-width: 1200px; /* Largura max de 1200 px */
  width: 100%;
  margin: 0 auto;
}

.faixa {
  background: #000;
}

.faixa div {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.faixa div div a {
  display: flex;
  align-items: center;
}

.faixa div div a:nth-child(1) {
  margin-right: 50px;
}

.faixa div div a span {
  color: #e79924;
  margin-right: 3px;
}

.faixa div ul {
  display: flex;
}

.faixa div ul li {
  margin-left: 30px;
}

/* ######### FAIXA MENU ############# */

.faixaMenu div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.faixaMenu h1 {
  width: 255px;
  height: 126px;
  background: url(../img/logo-auto-mestre.svg) no-repeat;
  text-indent: -9999px;
}

.faixaMenu div div a {
  background: #e79924;
  padding: 15px;
  margin-left: 40px;
  border: #a3a2ad solid 1px;
  border-radius: 10px 5px;
}

.faixaMenu div div a:hover {
  background: #a3a2ad;
  border: #e79924 solid 1px;
}

/* ###### MENU ###### */

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin: 0 5px;
}

.subMenu {
  display: none !important;
  position: absolute;
  padding-top: 15px;
}

.menu ul li:hover > .subMenu {
  display: block !important;
  padding-top: 15px;
}

.subMenu li {
  margin-bottom: 20px !important;
}

.menu ul li a {
  background: #e79924;
  padding: 5px 15px;
  border: #a3a2ad solid 1px;
  border-radius: 10px 5px;
}

.menu ul li a:hover {
  background: #a3a2ad;
  border: #e79924 solid 1px;
}

/* Btn Orçamento */
.menu > a {
  background: #e79924;
  padding: 25px;
  margin-left: 40px;
  border: #a3a2ad solid 1px;
  border-radius: 10px 5px;
}

.menu > a:hover {
  background: #a3a2ad;
  border: #e79924 solid 1px;
}

/* ########## Banner ########## */

.banner .slick-prev:before, /* .banner no começo faz com que só funcione noa classe banner*/
.banner .slick-next:before
{
    font-size: 60px;
    opacity: .75;
    color: #b2360f;
}

.banner .slick-prev
{
    left: 5px;
    z-index: 2;
}

.banner .slick-next
{
    right: 45px;
}


/* ########### Sessão Sobre ########### */

.sobre {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.sobre div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sobre h2 {
  font-size: 2em;
  color: #e79924;
  font-weight: 700;
}

.sobre p {
  font-size: 1.5em;
  text-align: justify;
  line-height: 2em;
}

.sobre a {
  background: #e79924;
  padding: 5px 15px;
  border: #a3a2ad solid 1px;
  border-radius: 10px 5px;
  width: 30%;
  text-align: center;
  align-self: flex-end;
}

.sobre a:hover {
  background: #a3a2ad;
  border: #e79924 solid 1px;
}

.sobre div:nth-child(2) img {
  width: 63%;
}

.sobre div:nth-child(2) img:nth-child(2) {
  align-self: flex-end;
  margin-top: -100px;
}

/*######### SERVICO #################  */

.servico {
  background: #333;
  padding-top: 40px;
}

.servico h2 {
  font-size: 3em;
  color: #e79924;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.servico div div {
  display: flex;
  justify-content: space-around;
}

.servico div div div {
  margin: 0 5PX;
}

.servico a:hover {
  background: #b2360f;
}

.servico p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
  background: #333;
  padding: 20px;
}

.faixaServico {
  background: #ccc;
  height: 200px;
  margin-top: -7.4%;
  border-top: solid thin #e79924; /*  */
}

/* ############### TECNOLOGIA ############### */

.tec {
  padding: 40px 0;
}

.tecTopo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tecTopo p {
  font-size: 1.5em;
  text-align: justify;
  line-height: 1.5em;
  width: 40%;
}
.tecTopo h2 {
  font-size: 3.5em;
  color: #e79924;
  font-weight: 700;
  text-align: center;
  width: 40%;
}

.tecCorpo {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto;
}

.tecCorpo > div {
  width: 31%;
}

.tecBoxEsquerda div,
.tecBoxDireita div {
  display: flex; /*  */
  justify-content: space-between;
  align-items: center;
  background: #333;
  margin: 55px 0;
  height: 100px;
}

.tecBoxEsquerda p,
.tecBoxDireita p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
  color: #ccc;
  padding: 10px 10px 10px 30px; /* */
}

.tecBoxEsquerda p {
  padding: 10px 10px 10px 30px;
}

.tecBoxDireita p {
  padding: 10px 30px 10px 10px;
}

.tecBoxEsquerda img,
.tecBoxDireita img {
  position: relative;
  height: auto;
  width: 90px;
}

.tecBoxEsquerda img {
  left: 20px;
}

.tecBoxDireita img {
  right: 20px;
}

/* ########## GALERIA ################# */

.galeria {
  background: #333;
  padding: 40px 0;
}

.galeria h2 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.galeria img {
  margin: 0 5px;
}

/* ############ DEPO ################### */

.depo {
  padding: 40px 0;
}

.depo h2 {
  font-size: 3em;
  color: #e79924;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.depo div {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.depo img {
  width: 15%;
  margin-bottom: 1%;
}

.depo p {
  font-size: 1.8em;
  line-height: 1.8em;
  padding: 20px;
}

/* ################# PROJETO ################## */

.projeto {
  padding-top: 40px;
  background: #b2360f;
}

.projeto h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
}

.projeto h4{
  font-size: 1.8em;
  color: #ccc;
  letter-spacing: .3em;
  margin-bottom: 3%;
}

.boxProjeto{
  display: flex;
  justify-content: space-between;
}

.boxProjeto div{
  width: 30%;
  overflow: hidden;
}

.boxProjeto img{
  display: block;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.boxProjeto img:hover{
  transform: scale(1.2);
}

.boxProjeto div p{
  background: #333;
  padding: 5%;
  font-size: 1.8em;
  line-height: 1.2em;
  text-align: justify;
  color: #fff;
}


.faixaProjeto {
  background: #a3a2ad;
  height: 300px;
  margin-top: -250px;
}

/* ######### LOGOS ################# */


.logos{
  display: flex;
  padding: 40px 0;
  overflow: hidden;
}

.logos img{
  margin: 0 5px;
}


/* ########## RODAPÉ ################# */

.rodape{
  background: #333;
  color: #fff;
  text-align: center;
}

.rodape > div{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.rodape div div{
  width: 30%;
}

.rodape p{
  margin-top: 10%;
  font-size: 1.5em;
  line-height: 2em;
  text-align: justify;
}

.rodape div div h2{
  margin-top: 35%;
  margin-bottom: 15%;
  font-size: 2.5em;
  text-transform: uppercase;
}

.rodape ul li a{
  display: block;
  padding: 10px 0;
}

.rodape ul li a:hover{
  background: #e79924;
  color: #333;
  border: #a3a2ad solid 1px;
  border-radius: 10px 5px;
}

.rodape div div div{
  width: 100%;
  text-align: left;
  margin-bottom: 5%;
  padding: 5% 0;
  border-bottom: solid 1px #a3a2ad;
}

.rodape div div div h5{
  font-size: 1.2em;
  color: #a3a2ad;
  font-style: italic;
  margin-bottom: 2%;
}

.rodape div div div h3{
  font-size: 1.5em;
  text-align: justify;
  line-height: 1.4em;
}


.rodape > div:nth-child(2){
  background: #000;
  padding: 20px 0;
  border-top: solid 1px #e79924;
  box-shadow: 0px -4px 15px #e79924;
}

.rodape > div:nth-child(2) h2{
  margin: 0 auto;
}







